USE [TambolaStarsAgentDb]
GO
/****** Object:  Schema [HangFire]    Script Date: 9/15/2022 10:21:11 PM ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[8575105723]    Script Date: 9/15/2022 10:21:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[8575105723](
	[CustomerName] [nvarchar](max) NULL,
	[SingleTicketNo] [nvarchar](30) NULL,
	[FullSheetNo] [nvarchar](max) NULL,
	[HalfSheetNo] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminDetails]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminDetails](
	[Id] [int] NULL,
	[AdminName] [nvarchar](max) NULL,
	[AdminNumber] [nvarchar](50) NULL,
	[WhatsAppGroupLink] [nvarchar](50) NULL,
	[AdminUpiAddress] [nvarchar](max) NULL,
	[AdminPassword] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agents]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentPhoneNumber] [nvarchar](50) NOT NULL,
	[AgentName] [nvarchar](max) NOT NULL,
	[AgentEmail] [nvarchar](max) NULL,
	[AgentPassword] [nvarchar](max) NOT NULL,
	[Imagesize] [int] NULL,
	[ImageData] [varbinary](max) NULL,
	[ImageName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[AgentPhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurrentRandom]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurrentRandom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentRandom] [int] NULL,
	[TicketNumber] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](50) NULL,
	[WinningName] [nvarchar](50) NULL,
	[Place] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameDetails]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameDetails](
	[GameNo] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[FullHouseNo] [int] NULL,
	[TimeOfGame] [datetime] NULL,
	[CostOfTicket] [int] NULL,
	[NoOfTickets] [int] NULL,
	[FullHouseCount] [int] NULL,
	[TotalFullsheetCount] [int] NULL,
	[TotalHalfSheetCount] [int] NULL,
	[WinnersJobId] [nvarchar](max) NULL,
	[StartTimeJobId] [nvarchar](max) NULL,
	[BookingClosed] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainTable]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ListId] [int] NULL,
	[GameDate] [date] NULL,
	[SoldBy] [nvarchar](max) NULL,
	[Sellingstatus] [bit] NULL,
	[TicketNumber] [nvarchar](50) NOT NULL,
	[CustomerNames] [nvarchar](max) NULL,
	[CustomerPhoneNumber] [nvarchar](50) NULL,
	[FullSheetSerialNo] [int] NULL,
	[HalfSheetSerialNo] [int] NULL,
	[TopLine] [bit] NULL,
	[MiddleLine] [bit] NULL,
	[BottomLine] [bit] NULL,
	[Star] [bit] NULL,
	[FullSheetBonus] [bit] NULL,
	[HalfSheetBonus] [bit] NULL,
	[QuickFive] [bit] NULL,
	[QuickSeven] [bit] NULL,
	[FullHouse] [nvarchar](50) NULL,
	[FullHousePlace] [nvarchar](50) NULL,
	[WinningSerialNo] [int] NULL,
 CONSTRAINT [PK_MainTable] PRIMARY KEY CLUSTERED 
(
	[TicketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceMoney]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceMoney](
	[id] [int] NOT NULL,
	[FullsheetPriceMoney] [nchar](10) NULL,
	[HalfsheetPriceMoney] [nchar](10) NULL,
	[FullHouse] [nchar](10) NULL,
	[SecondFullHouse] [nchar](10) NULL,
	[ThirdFullHouse] [nchar](10) NULL,
	[FourthFullHouse] [nchar](10) NULL,
	[FifthFullHouse] [nchar](10) NULL,
	[SixthFullhouse] [nchar](10) NULL,
	[SeventhFullHouse] [nchar](10) NULL,
	[EightFullHouse] [nchar](10) NULL,
	[NineFullHouse] [nchar](10) NULL,
	[TenFullHouse] [nchar](10) NULL,
	[ElevenFullHouse] [nchar](10) NULL,
	[TwelveFullHouse] [nchar](10) NULL,
	[ToplinePriceMoney] [nchar](10) NULL,
	[MiddleLinepriceMoney] [nchar](10) NULL,
	[BottomLinePriceMoney] [nchar](10) NULL,
	[QuickFivePriceMoney] [nchar](10) NULL,
	[QuickSevenPriceMoney] [nchar](10) NULL,
	[StarPriceMoney] [nchar](10) NULL,
	[TotalFullHouse] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qwe]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qwe](
	[CustomerName] [nvarchar](max) NULL,
	[SingleTicketNo] [nvarchar](30) NULL,
	[FullSheetNo] [nvarchar](max) NULL,
	[HalfSheetNo] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RandomNumber]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RandomNumber](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RandomNumber] [int] NOT NULL,
	[Tick] [bit] NULL,
	[Tock] [bit] NULL,
	[TopLine] [nvarchar](max) NULL,
	[MiddleLine] [nvarchar](max) NULL,
	[BottomLine] [nvarchar](max) NULL,
	[FirstFive] [nvarchar](max) NULL,
	[FirstSeven] [nvarchar](max) NULL,
	[Star] [nvarchar](max) NULL,
	[FullHouse] [nvarchar](max) NULL,
	[Fullsheet] [nvarchar](max) NULL,
	[HalfSheet] [nvarchar](max) NULL,
	[Place] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SheetBonus]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SheetBonus](
	[TicketNumber] [nvarchar](50) NULL,
	[FullSheet] [int] NULL,
	[HalfSheet] [int] NULL,
	[AgentNumber] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NULL,
	[sold] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sheetValidation]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sheetValidation](
	[CustomerName] [nvarchar](max) NULL,
	[SheetType] [nchar](10) NULL,
	[sheetnumber] [int] NULL,
	[SheetCategory] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketNumber] [nvarchar](50) NOT NULL,
	[Sold] [bit] NULL,
	[CustomerName] [nvarchar](max) NULL,
	[R0c1] [int] NULL,
	[R0c2] [int] NULL,
	[R0c3] [int] NULL,
	[R0c4] [int] NULL,
	[R0c5] [int] NULL,
	[R0c6] [int] NULL,
	[R0c7] [int] NULL,
	[R0c8] [int] NULL,
	[R0c9] [int] NULL,
	[R1c1] [int] NULL,
	[R1c2] [int] NULL,
	[R1c3] [int] NULL,
	[R1c4] [int] NULL,
	[R1c5] [int] NULL,
	[R1c6] [int] NULL,
	[R1c7] [int] NULL,
	[R1c8] [int] NULL,
	[R1c9] [int] NULL,
	[R2c1] [int] NULL,
	[R2c2] [int] NULL,
	[R2c3] [int] NULL,
	[R2c4] [int] NULL,
	[R2c5] [int] NULL,
	[R2c6] [int] NULL,
	[R2c7] [int] NULL,
	[R2c8] [int] NULL,
	[R2c9] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketValidation]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketValidation](
	[TicketNumber] [nvarchar](max) NULL,
	[C0R0] [int] NULL,
	[C1R0] [int] NULL,
	[C2R0] [int] NULL,
	[C3R0] [int] NULL,
	[C4R0] [int] NULL,
	[C0R1] [int] NULL,
	[C1R1] [int] NULL,
	[C2R1] [int] NULL,
	[C3R1] [int] NULL,
	[C4R1] [int] NULL,
	[C0R2] [int] NULL,
	[C1R2] [int] NULL,
	[C2R2] [int] NULL,
	[C3R2] [int] NULL,
	[C4R2] [int] NULL,
	[Temp] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AdminDetails] ([Id], [AdminName], [AdminNumber], [WhatsAppGroupLink], [AdminUpiAddress], [AdminPassword]) VALUES (1, N'admin', N'333434234', N'https://sdasdad.com', NULL, N'adminp')
GO
INSERT [dbo].[Agents] ([AgentPhoneNumber], [AgentName], [AgentEmail], [AgentPassword], [Imagesize], [ImageData], [ImageName]) VALUES (N'1234567', N'tom', NULL, N'a', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[GameDetails] ON 

INSERT [dbo].[GameDetails] ([GameNo], [Date], [FullHouseNo], [TimeOfGame], [CostOfTicket], [NoOfTickets], [FullHouseCount], [TotalFullsheetCount], [TotalHalfSheetCount], [WinnersJobId], [StartTimeJobId], [BookingClosed]) VALUES (19228, CAST(N'2022-09-16' AS Date), 4, CAST(N'2022-09-16T19:51:00.000' AS DateTime), 200, 300, 0, 50, 100, N'4', N'1', CAST(N'2022-09-16T19:51:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[GameDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[MainTable] ON 

INSERT [dbo].[MainTable] ([Id], [ListId], [GameDate], [SoldBy], [Sellingstatus], [TicketNumber], [CustomerNames], [CustomerPhoneNumber], [FullSheetSerialNo], [HalfSheetSerialNo], [TopLine], [MiddleLine], [BottomLine], [Star], [FullSheetBonus], [HalfSheetBonus], [QuickFive], [QuickSeven], [FullHouse], [FullHousePlace], [WinningSerialNo]) VALUES (1, 1, CAST(N'2022-09-16' AS Date), N'8575105751', 1, N'TicketNo1', N'masterShifu', N'123123213', 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MainTable] ([Id], [ListId], [GameDate], [SoldBy], [Sellingstatus], [TicketNumber], [CustomerNames], [CustomerPhoneNumber], [FullSheetSerialNo], [HalfSheetSerialNo], [TopLine], [MiddleLine], [BottomLine], [Star], [FullSheetBonus], [HalfSheetBonus], [QuickFive], [QuickSeven], [FullHouse], [FullHousePlace], [WinningSerialNo]) VALUES (2, 10, CAST(N'2022-09-16' AS Date), NULL, NULL, N'TicketNo10', NULL, NULL, 2, 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MainTable] ([Id], [ListId], [GameDate], [SoldBy], [Sellingstatus], [TicketNumber], [CustomerNames], [CustomerPhoneNumber], [FullSheetSerialNo], [HalfSheetSerialNo], [TopLine], [MiddleLine], [BottomLine], [Star], [FullSheetBonus], [HalfSheetBonus], [QuickFive], [QuickSeven], [FullHouse], [FullHousePlace], [WinningSerialNo]) VALUES (3, 100, CAST(N'2022-09-16' AS Date), NULL, NULL, N'TicketNo100', NULL, NULL, 17, 34, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MainTable] OFF
GO
SET IDENTITY_INSERT [dbo].[RandomNumber] ON 

INSERT [dbo].[RandomNumber] ([id], [RandomNumber], [Tick], [Tock], [TopLine], [MiddleLine], [BottomLine], [FirstFive], [FirstSeven], [Star], [FullHouse], [Fullsheet], [HalfSheet], [Place]) VALUES (1, 68, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RandomNumber] ([id], [RandomNumber], [Tick], [Tock], [TopLine], [MiddleLine], [BottomLine], [FirstFive], [FirstSeven], [Star], [FullHouse], [Fullsheet], [HalfSheet], [Place]) VALUES (2, 10, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[RandomNumber] ([id], [RandomNumber], [Tick], [Tock], [TopLine], [MiddleLine], [BottomLine], [FirstFive], [FirstSeven], [Star], [FullHouse], [Fullsheet], [HalfSheet], [Place]) VALUES (3, 43, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RandomNumber] OFF
GO
INSERT [dbo].[SheetBonus] ([TicketNumber], [FullSheet], [HalfSheet], [AgentNumber], [CustomerName], [sold]) VALUES (N'TicketNo189', 32, 63, NULL, NULL, NULL)
INSERT [dbo].[SheetBonus] ([TicketNumber], [FullSheet], [HalfSheet], [AgentNumber], [CustomerName], [sold]) VALUES (N'TicketNo190', 32, 64, NULL, NULL, NULL)
INSERT [dbo].[SheetBonus] ([TicketNumber], [FullSheet], [HalfSheet], [AgentNumber], [CustomerName], [sold]) VALUES (N'TicketNo191', 32, 64, NULL, NULL, NULL)
GO
INSERT [dbo].[Tickets] ([TicketNumber], [Sold], [CustomerName], [R0c1], [R0c2], [R0c3], [R0c4], [R0c5], [R0c6], [R0c7], [R0c8], [R0c9], [R1c1], [R1c2], [R1c3], [R1c4], [R1c5], [R1c6], [R1c7], [R1c8], [R1c9], [R2c1], [R2c2], [R2c3], [R2c4], [R2c5], [R2c6], [R2c7], [R2c8], [R2c9]) VALUES (N'TicketNo55', NULL, NULL, 1, 0, 0, 33, 40, 0, 61, 71, 0, 0, 0, 20, 38, 0, 59, 63, 0, 87, 6, 11, 0, 0, 44, 0, 66, 79, 0)
INSERT [dbo].[Tickets] ([TicketNumber], [Sold], [CustomerName], [R0c1], [R0c2], [R0c3], [R0c4], [R0c5], [R0c6], [R0c7], [R0c8], [R0c9], [R1c1], [R1c2], [R1c3], [R1c4], [R1c5], [R1c6], [R1c7], [R1c8], [R1c9], [R2c1], [R2c2], [R2c3], [R2c4], [R2c5], [R2c6], [R2c7], [R2c8], [R2c9]) VALUES (N'TicketNo56', NULL, NULL, 0, 17, 0, 0, 41, 50, 0, 70, 84, 0, 19, 0, 0, 42, 51, 0, 78, 86, 9, 0, 27, 30, 0, 55, 65, 0, 0)
INSERT [dbo].[Tickets] ([TicketNumber], [Sold], [CustomerName], [R0c1], [R0c2], [R0c3], [R0c4], [R0c5], [R0c6], [R0c7], [R0c8], [R0c9], [R1c1], [R1c2], [R1c3], [R1c4], [R1c5], [R1c6], [R1c7], [R1c8], [R1c9], [R2c1], [R2c2], [R2c3], [R2c4], [R2c5], [R2c6], [R2c7], [R2c8], [R2c9]) VALUES (N'TicketNo57', NULL, NULL, 3, 0, 23, 32, 0, 52, 67, 0, 0, 0, 14, 25, 0, 45, 58, 0, 0, 85, 8, 0, 29, 36, 0, 0, 0, 73, 89)
GO
INSERT [dbo].[TicketValidation] ([TicketNumber], [C0R0], [C1R0], [C2R0], [C3R0], [C4R0], [C0R1], [C1R1], [C2R1], [C3R1], [C4R1], [C0R2], [C1R2], [C2R2], [C3R2], [C4R2], [Temp]) VALUES (N'TicketNo55', 1, 33, 40, 61, 71, 20, 38, 59, 63, 87, 6, 11, 44, 66, 79, NULL)
INSERT [dbo].[TicketValidation] ([TicketNumber], [C0R0], [C1R0], [C2R0], [C3R0], [C4R0], [C0R1], [C1R1], [C2R1], [C3R1], [C4R1], [C0R2], [C1R2], [C2R2], [C3R2], [C4R2], [Temp]) VALUES (N'TicketNo56', 17, 41, 50, 70, 84, 19, 42, 51, 78, 86, 9, 27, 30, 55, 65, NULL)
INSERT [dbo].[TicketValidation] ([TicketNumber], [C0R0], [C1R0], [C2R0], [C3R0], [C4R0], [C0R1], [C1R1], [C2R1], [C3R1], [C4R1], [C0R2], [C1R2], [C2R2], [C3R2], [C4R2], [Temp]) VALUES (N'TicketNo57', 3, 23, 32, 52, 67, 14, 25, 45, 58, 85, 8, 29, 36, 73, 89, NULL)
GO
/****** Object:  StoredProcedure [dbo].[ag_AgentDelete]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ag_AgentDelete]

@Number nvarchar(max)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Delete from  dbo.Agents where AgentPhoneNumber=@Number

END
GO
/****** Object:  StoredProcedure [dbo].[ag_AgentEdit]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ag_AgentEdit]
@Name nvarchar(max),
@Number nvarchar(max),
@Password nvarchar(max),
@InsertOrUpdate int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if (@InsertOrUpdate=1)
	begin
	update dbo.Agents set AgentName=@Name, AgentPassword=@Password where AgentPhoneNumber= @Number
	end
	else
	begin
	Insert dbo.Agents (AgentPhoneNumber, AgentName, AgentPassword) values (@Number,@Name,@Password)
	end
	

END
GO
/****** Object:  StoredProcedure [dbo].[CheckPhoneNumber]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CheckPhoneNumber]
@Number nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	--dECLARE @TableName nvarchar(max)
	--set @TableName= @Number
    -- Insert statements for procedure here
	SELECT COUNT(AgentPhoneNumber) from dbo.Agents where AgentPhoneNumber=@Number
END
GO
/****** Object:  StoredProcedure [dbo].[countFullsheet]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[countFullsheet]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select TotalFullHouse
	from dbo.PriceMoney
end
GO
/****** Object:  StoredProcedure [dbo].[getDate]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getDate]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Date from dbo.GameDetails
END
GO
/****** Object:  StoredProcedure [dbo].[getDateTime]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getDateTime]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select TimeOfGame from dbo.GameDetails
END
GO
/****** Object:  StoredProcedure [dbo].[getFullHousePriceDistribution]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getFullHousePriceDistribution]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT FullHouse as first,SecondFullHouse as second,ThirdFullHouse as third,
	FourthFullHouse as fourth, FifthFullHouse as fifth, SixthFullhouse as sixth,
	SeventhFullHouse as seventh,EightFullHouse as eighth,NineFullHouse as ninth,
	TenFullHouse as tenth, ElevenFullHouse as eleventh, TwelveFullHouse as twelfth
	from dbo.PriceMoney
END
GO
/****** Object:  StoredProcedure [dbo].[getgameDetails]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getgameDetails]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT GameNo as GameNo,Date as Date,TimeOfGame as Time,CostOfTicket as TicketPrice,NoOfTickets as TotalTickets from dbo.GameDetails
END
GO
/****** Object:  StoredProcedure [dbo].[getPriceDistribution]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getPriceDistribution]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT FullsheetPriceMoney as fullsheet,HalfsheetPriceMoney as halfsheet,QuickFivePriceMoney as quickfive
	,QuickSevenPriceMoney as quickseven,StarPriceMoney as star,
	ToplinePriceMoney as topLine,MiddleLinepriceMoney as middleLine,BottomLinePriceMoney as bottomLine,
	TotalFullHouse as totalfhouse from dbo.PriceMoney
END
GO
/****** Object:  StoredProcedure [dbo].[getTicketOwnerName]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getTicketOwnerName]
@TicketNo nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT CustomerNames from dbo.MainTable where TicketNumber=@TicketNo
END
GO
/****** Object:  StoredProcedure [dbo].[getTime]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getTime]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT FORMAT(TimeOfGame,'hh:mm tt') AS time
FROM GameDetails
END
GO
/****** Object:  StoredProcedure [dbo].[getWhatsappGLink]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getWhatsappGLink]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT WhatsAppGroupLink from dbo.AdminDetails
END
GO
/****** Object:  StoredProcedure [dbo].[InsertData]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertData]
	-- Add the parameters for the stored procedure here
	
	@TableName nvarchar(10),
			  @R0c1 int, @R0c2 int, @R0c3 int, @R0c4 int, @R0c5 int, @R0c6 int, @R0c7 int, @R0c8 int, @R0c9 int,
               @R1c1 int, @R1c2 int, @R1c3 int, @R1c4 int, @R1c5 int, @R1c6 int, @R1c7 int, @R1c8 int, @R1c9 int,
               @R2c1 int, @R2c2 int, @R2c3 int, @R2c4 int, @R2c5 int, @R2c6 int, @R2c7 int, @R2c8 int, @R2c9 int
              
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


	UPDATE dbo.Tickets set R0c1=@R0c1, R0c2=@R0c2, R0c3=@R0c3, R0c4=@R0c4, R0c5=@R0c5,
			R0c6=@R0c6, R0c7=@R0c7, R0c8=@R0c8, R0c9=@R0c9,
			R1c1=@R1c1, R1c2=@R1c2, R1c3=@R1c3, R1c4=@R1c4, R1c5=@R1c5,
			R1c6=@R1c6, R1c7=@R1c7, R1c8=@R1c8, R1c9=@R1c9,
			R2c1=@R2c1, R2c2=@R2c2, R2c3=@R2c3, R2c4=@R2c4, R2c5=@R2c5,
			R2c6=@R2c6, R2c7=@R2c7, R2c8=@R2c8, R2c9=@R2c9
			where Ticketnumber=@TableName
    -- Insert statements for procedure here
	/*Declare @query0 nvarchar(max)
	Declare @query1 nvarchar(max)
	Declare @query2 nvarchar(max)
	
	Set @query0='Update '+ QUOTENAME(@TableName)+ 'set'+' C0='+ 
	CONVERT(VARCHAR(12), @R0c1)
		+' ,C1='+ CONVERT(VARCHAR(12), @R0c2)
		+' ,C2='+ CONVERT(VARCHAR(12), @R0c3)
		+' ,C3='+ CONVERT(VARCHAR(12), @R0c4)
		+' ,C4='+ CONVERT(VARCHAR(12), @R0c5)
		+' ,C5='+ CONVERT(VARCHAR(12), @R0c6)
		+' ,C6='+ CONVERT(VARCHAR(12), @R0c7)
		+' ,C7='+ CONVERT(VARCHAR(12), @R0c8)
		+' ,C8='+ CONVERT(VARCHAR(12), @R0c9)
	+' where Rows=0;'
	Set @query1='Update '+ QUOTENAME(@TableName)+ 'set'+' C0='+ 
	CONVERT(VARCHAR(12), @R1c1)
		+' ,C1='+ CONVERT(VARCHAR(12), @R1c2)
		+' ,C2='+ CONVERT(VARCHAR(12), @R1c3)
		+' ,C3='+ CONVERT(VARCHAR(12), @R1c4)
		+' ,C4='+ CONVERT(VARCHAR(12), @R1c5)
		+' ,C5='+ CONVERT(VARCHAR(12), @R1c6)
		+' ,C6='+ CONVERT(VARCHAR(12), @R1c7)
		+' ,C7='+ CONVERT(VARCHAR(12), @R1c8)
		+' ,C8='+ CONVERT(VARCHAR(12), @R1c9)
	+' where Rows=1;'
	Set @query2='Update '+ QUOTENAME(@TableName)+ 'set'+' C0='+ 
	CONVERT(VARCHAR(12), @R2c1)
		+' ,C1='+ CONVERT(VARCHAR(12), @R2c2)
		+' ,C2='+ CONVERT(VARCHAR(12), @R2c3)
		+' ,C3='+ CONVERT(VARCHAR(12), @R2c4)
		+' ,C4='+ CONVERT(VARCHAR(12), @R2c5)
		+' ,C5='+ CONVERT(VARCHAR(12), @R2c6)
		+' ,C6='+ CONVERT(VARCHAR(12), @R2c7)
		+' ,C7='+ CONVERT(VARCHAR(12), @R2c8)
		+' ,C8='+ CONVERT(VARCHAR(12), @R2c9)
	+' where Rows=2;'
	Declare @QUERY nvarchar(max)
	set @QUERY=@query0+@query1+@query2
	Execute sp_executesql @QUERY
	*/
	insert into dbo.sheetBonus (TicketNumber) values (@TableName)
end
GO
/****** Object:  StoredProcedure [dbo].[insertValidationTable]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertValidationTable]
	-- Add the parameters for the stored procedure here
	@TableName nvarchar(50),
	@R0C0 int, @R0C1 int, @R0C2 int, @R0C3 int, @R0C4 int,
    @R1C0 int, @R1C1 int, @R1C2 int, @R1C3 int, @R1C4 int,
    @R2C0 int, @R2C1 int, @R2C2 int, @R2C3 int, @R2C4 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 -- Insert statements for procedure here
	Declare @query nvarchar(max)
	
	
	/*Set @query='Insert into  '+ QUOTENAME(@TableName)+ 'set'
	    +' C0R0='+CONVERT(VARCHAR(12), @R0C0)
		+' ,C1R0='+ CONVERT(VARCHAR(12), @R0C1)
		+' ,C2R0='+ CONVERT(VARCHAR(12), @R0C2)
		+' ,C3R0='+ CONVERT(VARCHAR(12), @R0C3)
		+' ,C4R0='+ CONVERT(VARCHAR(12), @R0C4)
		+' ,C0R1='+ CONVERT(VARCHAR(12), @R1C0)
		+' ,C1R1='+ CONVERT(VARCHAR(12), @R1C1)
		+' ,C2R1='+ CONVERT(VARCHAR(12), @R1C2)
		+' ,C3R1='+ CONVERT(VARCHAR(12), @R1C3)
		+' ,C4R1='+ CONVERT(VARCHAR(12), @R1C4)
		+' ,C0R2='+ CONVERT(VARCHAR(12), @R2C0)
		+' ,C1R2='+ CONVERT(VARCHAR(12), @R2C1)
		+' ,C2R2='+ CONVERT(VARCHAR(12), @R2C2)
		+' ,C3R2='+ CONVERT(VARCHAR(12), @R2C3)
		+' ,C4R2='+ CONVERT(VARCHAR(12), @R2C4)

	*/
	Set @query='Insert into  '+ QUOTENAME(@TableName)+' (C0R0 ,C1R0 ,C2R0 ,C3R0 ,C4R0,
	C0R1 ,C1R1 ,C2R1 ,C3R1 ,C4R1 ,
	C0R2 ,C1R2 ,C2R2 ,C3R2  ,C4R2) 
	values '+
	'('+

    CONVERT(VARCHAR(12), @R0C0)
   +' ,'+ CONVERT(VARCHAR(12),@R0C1)
   +' ,' +CONVERT(VARCHAR(12),@R0C2)
   +' ,'+CONVERT(VARCHAR(12),@R0C3)
   +' ,'+CONVERT(VARCHAR(12),@R0C4)
   +' ,'+ CONVERT(VARCHAR(12),@R1C0) 
   +' ,'+CONVERT(VARCHAR(12), @R1C1) 
   +' ,'+CONVERT(VARCHAR(12), @R1C2) 
   +' ,'+CONVERT(VARCHAR(12),@R1C3)
   +' ,'+ CONVERT(VARCHAR(12),@R1C4)
   +' ,'+CONVERT(VARCHAR(12),@R2C0)
   +' ,'+ CONVERT(VARCHAR(12),@R2C1)
   +' ,'+ CONVERT(VARCHAR(12),@R2C2) 
   +' ,'+CONVERT(VARCHAR(12), @R2C3)
   +' ,' +CONVERT(VARCHAR(12), @R2C4)+')'
	Execute sp_executesql @query
	
end
GO
/****** Object:  StoredProcedure [dbo].[MakeTable]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MakeTable]
	-- Add the parameters for the stored procedure here
	@TableName nvarchar(20)
	
AS
BEGIN
	
	SET NOCOUNT ON;
	--Declare @MakeTable nvarchar(max)
	--Declare @MakeValidationTable nvarchar(max)
	Declare @InsertValidateRows nvarchar(max)
	--Declare @InsertRows nvarchar(max)
	Declare @sql nvarchar(max)
	Declare @TicketNameOnMain nvarchar(max)
	Declare @InsertOnTicketValidation nvarchar(max)


	--crteate ticket
	--Set @MakeTable=' Create Table '+QUOTENAME(@TableName)+ '(Rows nvarchar(10), C0 int,
	--C1 int,C2 int ,C3 int ,C4 int ,C5 int ,C6 int ,C7 int ,C8 int)'

	/*Set @MakeValidationTable=' Create Table '+QUOTENAME(@TableValidateName)+ 
	'(C0R0 int,C1R0 int,C2R0 int ,C3R0 int ,C4R0 int,
	C0R1 int,C1R1 int,C2R1 int ,C3R1 int ,C4R1 int,
	C0R2 int,C1R2 int,C2R2 int ,C3R2 int ,C4R2 int)'
	*/
	--set Rows on Ticket
	--set @InsertRows=' Insert into '+ QUOTENAME(@TableName)+ ' (Rows) Values (0),(1),(2)'

	--insert TicketName on Main Ticket
	set @TicketNameOnMain='Insert Into dbo.MainTable (TicketNumber) Values ('''+@TableName+''')'

	--Insert TicketName on TicketValidation Table 
	set @InsertOnTicketValidation='Insert Into dbo.TicketValidation (TicketNumber) Values ('''+@TableName+''')'

	set @sql=@TicketNameOnMain+@InsertOnTicketValidation

	insert into dbo.Tickets (TicketNumber) values (@TableName)
	Execute sp_executesql @sql
END
GO
/****** Object:  StoredProcedure [dbo].[selectAll]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[selectAll] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select count (TicketNumber) from dbo.Tickets
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTWINNERS]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SELECTWINNERS]
@id int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select TopLine from dbo.RandomNumber where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_addBonus]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_addBonus]
	-- Add the parameters for the stored procedure here
	 @Id int,@FullSheet nchar(10),@HalfSheet  nchar(10),@Five  nchar(10),@Seven  nchar(10),@Star  nchar(10),
	 @Top  nchar(10),@Middle  nchar(10),@Bottom  nchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert Into dbo.PriceMoney (id,FullsheetPriceMoney,HalfsheetPriceMoney,QuickFivePriceMoney,QuickSevenpriceMoney, StarPriceMoney,
	ToplinePriceMoney,MiddleLinepriceMoney,BottomLinePriceMoney) values (@Id,@FullSheet ,@HalfSheet ,@Five,@Seven ,@Star,
	 @Top  ,@Middle ,@Bottom)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBottomLineWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddBottomLineWinner]
@TicketName nvarchar(max),
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.MainTable set BottomLine= 1,WinningSerialNo=@SerialNo where TicketNumber=@TicketName;
	update dbo.RandomNumber set BottomLine='BOTTOMLINE' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFirstFiveWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddFirstFiveWinner]
@TicketName nvarchar(max),
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.MainTable set QuickFive= 1,WinningSerialNo=@SerialNo where TicketNumber=@TicketName;
	update dbo.RandomNumber set FirstFive='FIRSTFIVE' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFirstSevenWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddFirstSevenWinner]
@TicketName nvarchar(max),
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.MainTable set QuickSeven= 1,WinningSerialNo=@SerialNo where TicketNumber=@TicketName;
	update dbo.RandomNumber set FirstSeven='FIRSTSEVEN' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_addFullHouse]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_addFullHouse] 
	-- Add the parameters for the stored procedure here
	@o1 nchar(10),@o2 nchar(10) ,@o3 nchar(10),@o4 nchar(10),@o5 nchar(10),
	@o6 nchar(10),@o7 nchar(10),@o8 nchar(10),@o9 nchar(10),@o10 nchar(10),@o11 nchar(10),@o12 nchar(10),
	@FullSheetCount int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here                           Update instead
	Update dbo.PriceMoney set FullHouse=@o1,SecondFullHouse=@o2,ThirdFullHouse=@o3,FourthFullHouse=@o4
	,FifthFullHouse =@o5,SixthFullhouse=@o6,SeventhFullHouse=@o7,EightFullHouse=@o8,NineFullHouse=@o9,
	TenFullHouse=@o10,
	ElevenFullHouse= @o11,TwelveFullHouse=@o12, TotalFullHouse=@FullSheetCount where id=1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFullHouseWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddFullHouseWinner]
@TicketName nvarchar(max),
@WinningPlace int ,
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.MainTable set FullHouse= 1, FullhousePlace=@WinningPlace,WinningSerialNo=@SerialNo where TicketNumber=@TicketName 
	and FullHousePlace is null;
	update dbo.RandomNumber set FullHouse='FULLHOUSE' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFullSheetSerialNo]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddFullSheetSerialNo]
@TicketName nvarchar(max),
@Sheetnumber int,
@SheetCount int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.SheetBonus set Fullsheet=@SheetNumber where TicketNumber=@TicketName
	update dbo.GameDetails set TotalFullsheetCount=@SheetCount --add half sheet here too
	update dbo.MainTable set FullSheetSerialNo=@SheetNumber where TicketNumber=@TicketName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddFullSheetWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddFullSheetWinner]
@SheetNumber int,
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.MainTable set FullSheetBonus=1,WinningSerialNo=@SerialNo where FullSheetSerialNo =@SheetNumber;
	update dbo.RandomNumber set FullSheet='FULLSHEET' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_addGameDetails]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_addGameDetails]
@DateTime dateTime,
@Date date,
@TicketTotal int,
@ticketCost int,
@FullHouseTotal int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	insert into dbo.GameDetails (Date,FullHouseNo,TimeOfGame,CostOfTicket,NoOfTickets,FullHouseCount,BookingClosed) 
								values (@Date, @FullHouseTotal,@DateTime,@ticketCost,@TicketTotal,0,@DateTime)
    -- Insert statements for procedure here
	--Insert into dbo.GameDetails (Date,NoOfTickets,CostOfTicket,FullHouseNo,TimeOfGame) values (@Date,@TicketTotal,@ticketCost,@FullHouseTotal,@DateTime)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_addHalfsheetserialNo]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_addHalfsheetserialNo]
@TicketName nvarchar(max),
@SheetNumber int,
@SheetCount int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.MainTable set HalfSheetSerialNo=@SheetNumber where TicketNumber=@TicketName
	update dbo.GameDetails set TotalHalfSheetCount=@SheetCount
	update dbo.SheetBonus set HalfSheet=@SheetNumber where TicketNumber=@TicketName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddHalfSheetWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddHalfSheetWinner]
@SheetNumber int,
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.MainTable set HalfSheetBonus=1,WinningSerialNo=@SerialNo where HalfSheetSerialNo=@SheetNumber;
	update dbo.RandomNumber set HalfSheet='HALFSHEET' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMiddleLineWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddMiddleLineWinner]
@TicketName nvarchar(max),
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.MainTable set MiddleLine= 1,WinningSerialNo=@SerialNo where TicketNumber=@TicketName;
	update dbo.RandomNumber set MiddleLine='MIDDLELINE' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStarWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddStarWinner]
@TicketName nvarchar(max),
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.MainTable set Star= 1,WinningSerialNo=@SerialNo where TicketNumber=@TicketName;
	update dbo.RandomNumber set Star='STAR' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddTopLineWinner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddTopLineWinner]
@TicketName nvarchar(max),
@SerialNo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.MainTable set TopLine= 1,WinningSerialNo=@SerialNo where TicketNumber=@TicketName
	update dbo.RandomNumber set TopLine='TOPLINE' WHERE id=@SerialNo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_addWhatsappGroupLink]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_addWhatsappGroupLink]
@link nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select WhatsAppGroupLink from dbo.AdminDetails
		if exists (select WhatsAppGroupLink
		  from dbo.AdminDetails
			where  Id=1 and WhatsAppGroupLink is not null)
			begin
			update dbo.AdminDetails set WhatsAppGroupLink= @link
			
			end
		else 
		begin 
		update dbo.AdminDetails set WhatsAppGroupLink= @link where id=1
		end
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ADMINUPDATE]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ADMINUPDATE] 
    @Name nvarchar(max),
	@Phone nvarchar(max),
	@Password nvarchar(max)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.AdminDetails set AdminName=@Name, AdminNumber=@Phone, AdminPassword=@Password where id=1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgentDetails]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AgentDetails]
@Name nvarchar(max),
@Number nvarchar(max),
@Email nvarchar(max),
@Password nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Insert into dbo.Agents (AgentPhoneNumber,AgentName,AgentEmail,AgentPassword) values(@Number,@Name,@Email,@Password);
	Declare @MakeTable nvarchar(max)
	
	Set @MakeTable=' Create Table '+QUOTENAME(@Number)+ 
	'(CustomerName nvarchar(max),SingleTicketNo nvarchar(30),FullSheetNo nvarchar(max),HalfSheetNo nvarchar(max))'
	Execute sp_executesql @MakeTable
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgentLogin]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AgentLogin]
@Number nvarchar(12),
@Password nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT count( AgentName) from dbo.Agents where AgentPhoneNumber=@Number and AgentPassword=@Password
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AgentUploadImage]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AgentUploadImage]
@Number nvarchar(max),
@Name nvarchar(max),
@Size int,
@ImageData varbinary(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update dbo.Agents set ImageName=@Name,Imagesize=@Size,ImageData=@ImageData where AgentPhoneNumber=@Number;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BonusValidation]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BonusValidation]
@TicketName nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select C0R0,C1R0,C2R0,C3R0,C4R0, C0R1,C1R1,C2R1,C3R1,C4R1,C0R2,C1R2,C2R2,C3R2,C4R2 
	FROM dbo.TicketValidation  where TicketNumber=@TicketName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_bottomLine]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_bottomLine]
	@TicketName nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT C0R2 AS c1, C1R2 AS c2, C2R2 AS c3, C3R2 AS c4, C4R2 AS c5 
	from dbo.TicketValidation where TicketNumber=@TicketName
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_BringTicket]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_BringTicket]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TicketNumber from dbo.tickets
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_BringTicketSold]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[Sp_BringTicketSold]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SELECT TicketNumber from dbo.tickets
	SELECT TicketNumber from dbo.MainTable where CustomerNames is not null; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buyFullSheet]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buyFullSheet]
@SheetCount int
AS
BEGIN
Declare @loop int
set @loop=1

create Table #Table (Name nvarchar(225),Fullsheet nvarchar(MAX))

SET NOCOUNT ON;
	while (@loop<=@SheetCount)
	BEGIN
	IF((SELECT count (TicketNumber)from  dbo.SheetBonus WHERE FullSheet=@loop and sold is null) =6)
		begin 
		Insert into #Table (Name,FullSheet) values ('',@loop)
		end
			else
		begin 
		print 'Not present'
		end
		set @loop=@loop+1;
	END
	select Name as Name ,Fullsheet as FullSheet from #Table
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuyFullSheetFromAgent]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BuyFullSheetFromAgent]
@CustomerName nvarchar(max),
@CustomerPhone nvarchar(50),
@TicketName nvarchar(max),
@AgentNumber nvarchar(15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.SheetBonus set CustomerName=@CustomerName, AgentNumber=@AgentNumber ,sold=1 where FullSheet=@TicketName;
	update dbo.MainTable set SoldBy=@AgentNumber,CustomerPhoneNumber=@CustomerPhone, CustomerNames=@CustomerName,Sellingstatus=1 where FullSheetSerialNo=@TicketName
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buyHalfSheet]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buyHalfSheet]
 @SheetCount int
AS
BEGIN
	SET NOCOUNT ON;
	
	create Table #TableHalf(HalfSheet int )
	DECLARE @MainLoop int
	SET @MainLoop=1;


	WHILE (@MainLoop<=@SheetCount)
	BEGIN
   
   IF((SELECT count (TicketNumber)from  dbo.SheetBonus WHERE HalfSheet=@MainLoop and sold is null) =3)
   begin 
		Insert into #TableHalf (HalfSheet) values (@MainLoop)
		end
			else
		begin 
		print 'Not present'
		end
		set @MainLoop=@MainLoop+1;
	END --End OF main While loop
	SELECT * FROM #TableHalf	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuyHalfSheetFromAgent]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BuyHalfSheetFromAgent]
@CustomerName nvarchar(max),
@CustomerPhone nvarchar(50),
@TicketName nvarchar(max),
@AgentNumber nvarchar(15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.SheetBonus set CustomerName=@CustomerName, AgentNumber=@AgentNumber ,sold=1 where HalfSheet=@TicketName;
	update dbo.MainTable set SoldBy=@AgentNumber, CustomerNames=@CustomerName,CustomerPhoneNumber=@CustomerPhone, Sellingstatus=1 where HalfSheetSerialNo=@TicketName
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuyTicketFromAgent]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BuyTicketFromAgent]
@CustomerName nvarchar(max),
@TicketName nvarchar(max),
@AgentNumber nvarchar(15),
@Phone nvarchar(15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.SheetBonus set CustomerName=@CustomerName, AgentNumber=@AgentNumber,sold=1 where TicketNumber=@TicketName and sold IS null;
	update dbo.MainTable set SoldBy=@AgentNumber, CustomerNames=@CustomerName,CustomerPhoneNumber=@Phone, Sellingstatus=1 where TicketNumber=@TicketName 
	and Sellingstatus IS null 

	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_buyTickets]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_buyTickets]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TicketNumber as TicketNumber, CustomerName as Name from dbo.SheetBonus where sold  IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CANCELTICKETS]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CANCELTICKETS]
@TicketNumber nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.MainTable set SoldBy=null,Sellingstatus=null,CustomerNames=null,CustomerPhoneNumber=null where TicketNumber=@TicketNumber
	update dbo.SheetBonus set AgentNumber=null, CustomerName=null, sold=null where TicketNumber=@TicketNumber
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckWhatToValidate]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CheckWhatToValidate]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT FullsheetPriceMoney as fullS, HalfsheetPriceMoney as halfS, QuickFivePriceMoney as quickF,QuickSevenPriceMoney as quickS,
	StarPriceMoney as star, ToplinePriceMoney as topL,
	MiddleLinepriceMoney as midL, BottomLinePriceMoney as bottomL from dbo.PriceMoney
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckwinningTicket]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CheckwinningTicket]
@TicketName nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT FullHouse from dbo.MainTable where TicketNumber =@TicketName and FullHouse=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_closebooking]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[sp_closebooking]
@datetime dateTime

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	update dbo.GameDetails set BookingClosed=@datetime
    -- Insert statements for procedure here
	--Insert into dbo.GameDetails (Date,NoOfTickets,CostOfTicket,FullHouseNo,TimeOfGame) values (@Date,@TicketTotal,@ticketCost,@FullHouseTotal,@DateTime)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CountTickets]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_CountTickets]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_NAME LIKE '%TicketNo%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAgent]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteAgent]
@Number nvarchar(max)
AS
 BEGIN
    SET NOCOUNT ON;
	Delete from dbo.Agents where AgentPhoneNumber=@Number
    DECLARE @SQL NVARCHAR(MAX)
    SELECT @SQL = 'DROP TABLE dbo.' + QUOTENAME(@Number) + '';
    EXEC sp_executesql @SQL;
 END
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteIfExist]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_deleteIfExist]

AS
BEGIN
Declare @Drop nvarchar(max)

	SET NOCOUNT ON;
	/*set  @Drop='SELECT CONCAT(''DROP TABLE '',table_name,'';'')
  FROM information_schema.tables
 WHERE table_name LIKE ''%TicketNo%'''

 execute sp_executesql @Drop
 */
 DECLARE @sql NVARCHAR(MAX) = N'';

SELECT @sql += '
DROP TABLE ' 
    + QUOTENAME(s.name)
    + '.' + QUOTENAME(t.name) + ';'
    FROM sys.tables AS t
    INNER JOIN sys.schemas AS s
    ON t.[schema_id] = s.[schema_id] 
    WHERE t.name LIKE '%TicketNo%';

	delete from dbo.MainTable
	DBCC CHECKIDENT (MainTable, RESEED, 0)
	delete from Tickets
	delete from dbo.RandomNumber
	DBCC CHECKIDENT (RandomNumber, RESEED, 0)
	
	delete from dbo.GameDetails
	delete from dbo.PriceMoney
	delete from dbo.TicketValidation
	Delete from dbo.SheetBonus
	Delete from dbo.sheetValidation
	Delete from dbo.CurrentRandom
	DBCC CHECKIDENT (CurrentRandom, RESEED, 0)

PRINT @sql;
EXEC sp_executesql @sql;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteJobs]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteJobs]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
TRUNCATE TABLE [HangFire].[AggregatedCounter]
TRUNCATE TABLE [HangFire].[Counter]
TRUNCATE TABLE [HangFire].[JobParameter]
TRUNCATE TABLE [HangFire].[JobQueue]
TRUNCATE TABLE [HangFire].[List]
TRUNCATE TABLE [HangFire].[State]
DELETE FROM [HangFire].[Job]
DBCC CHECKIDENT ('[HangFire].[Job]', reseed, 0)
UPDATE [HangFire].[Hash] SET Value = 1 WHERE Field = 'LastJobId'
DELETE FROM [HangFire].[Set]
WHERE [Key] = N'retries'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_deleteSubscribtion]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_deleteSubscribtion]
as
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	KILL QUERY NOTIFICATION SUBSCRIPTION all
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeleteUnsoldtickets]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_DeleteUnsoldtickets]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Delete from dbo.MainTable where CustomerNames is null
	Delete from dbo.Tickets where CustomerName is null
	Delete from dbo.SheetBonus where CustomerName is null
	Delete from dbo.sheetValidation where CustomerName is null
END
GO
/****** Object:  StoredProcedure [dbo].[sp_fetchProfileImage]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_fetchProfileImage]
@Number nvarchar(12)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ImageData from dbo.Agents where AgentPhoneNumber=@Number
END
GO
/****** Object:  StoredProcedure [dbo].[sp_fullHouseCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_fullHouseCount]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT FullHouseNo, FullHouseCount from dbo.GameDetails
END
GO
/****** Object:  StoredProcedure [dbo].[sp_fullHouseCountIncrement]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_fullHouseCountIncrement]
@Increment int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.GameDetails set FullHouseCount=@Increment
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getAdminLogin]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getAdminLogin]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT AdminName as Name, AdminPassword as password from dbo.AdminDetails
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getBottomWinningCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getBottomWinningCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TicketNumber as TicketNo,CustomerNames AS Name from dbo.MainTable where BottomLine=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getCountingNumber]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getCountingNumber]
@TickCount int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select RandomNumber from dbo.RandomNumber where id=@TickCount;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getCurrentRandom]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getCurrentRandom]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select CurrentRandom,TicketNumber,CustomerName,WinningName,Place FROM CurrentRandom order by id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getFFWinningCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getFFWinningCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT TicketNumber as TicketNo,CustomerNames AS Name from dbo.MainTable where QuickFive=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getFSWinningCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getFSWinningCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select TicketNumber As TicketNo, CustomerNames AS Name from dbo.MainTable where QuickSeven=1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getFullHouseCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getFullHouseCount]
@Place int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TicketNumber as TicketNo, CustomerNames as Name, FullHousePlace as place from dbo.MainTable where WinningSerialNo =@Place
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getFullSheetWinningCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getFullSheetWinningCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT FullSheetSerialNo as TicketNo,CustomerNames AS Name from dbo.MainTable where FullSheetBonus=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getHalfSheetCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getHalfSheetCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TotalHalfSheetCount from dbo.GameDetails 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getHalfSheetWinningCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getHalfSheetWinningCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT HalfSheetSerialNo as TicketNo,CustomerNames AS Name from dbo.MainTable where HalfSheetBonus=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getMiddleWinningCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getMiddleWinningCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TicketNumber as TicketNo,CustomerNames AS Name from dbo.MainTable where MiddleLine=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getMyTickets]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getMyTickets]
@AgentName nvarchar(Max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT GameDate as Date,TicketNumber as Tk_no, CustomerNames As Name,  CustomerPhoneNumber as Phone from dbo.MainTable 
	where SoldBy=@AgentName order by ListId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getRandomNumber]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getRandomNumber]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT RandomNumber from dbo.RandomNumber where Tick=1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getRandomTockedNumber]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getRandomTockedNumber]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT RandomNumber from dbo.RandomNumber where Tock=1 order by id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getSheetCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getSheetCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select TotalFullSheetCount from dbo.GameDetails
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getStarWinningCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getStarWinningCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TicketNumber as TicketNo,CustomerNames AS Name from dbo.MainTable where  star=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getTickedCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getTickedCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select RandomNumber from dbo.RandomNumber where Tick=1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_geTticketAndCustomer]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_geTticketAndCustomer]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TicketNumber as TicketNo, CustomerNames as Name from dbo.MainTable order by ListId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTickets]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetTickets]
	-- Add the parameters for the stored procedure here
    @TableName nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	
	select R0c1 As C0, R0c2 As C1, R0c3 As C2, R0c4  As C3 , R0c5 AS C4, R0c6 AS C5 ,
	R0c7 AS C6 , R0c8 AS C7, R0c9 AS C8
	   from dbo.Tickets where TicketNumber= @TableName

  select R1c1 As C0, R1c2 As C1, R1c3 As C2, R1c4  As C3 , R1c5 AS C4, R1c6 AS C5 ,
	R1c7 AS C6 , R1c8 AS C7, R1c9 AS C8
	   from dbo.Tickets where TicketNumber= @TableName
	 
  select R2c1 As C0, R2c2 As C1, R2c3 As C2, R2c4  As C3 , R2c5 AS C4, R2c6 AS C5 ,
	R2c7 AS C6 , R2c8 AS C7, R2c9 AS C8
	   from dbo.Tickets where TicketNumber= @TableName

	   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getTopLine]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getTopLine]
@TicketName nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT C0R0 AS c1, C1R0 AS c2, C2R0 AS c3, C3R0 AS c4, C4R0 AS c5 
	from dbo.TicketValidation where TicketNumber=@TicketName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getTopWinningCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getTopWinningCount]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TicketNumber AS TicketNo,CustomerNames As Name from dbo.MainTable where TopLine=1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getValidationTickets]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_getValidationTickets]
@TicketName nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select C0R0 AS c1,C1R0 As c2,C2R0 As c3,C3R0 As c4,C4R0 AS c5, C0R1 AS c6 ,
	C1R1 AS c7,C2R1 AS c8,C3R1 AS c9 ,C4R1 AS c10,C0R2 AS c11,C1R2 AS c12,C2R2 AS c13 ,
	C3R2 AS c14,C4R2 AS c15 
	FROM dbo.TicketValidation  where TicketNumber=@TicketName

	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertOnTicketValidation]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_InsertOnTicketValidation]
	
	@TableName nvarchar(50),
	@R0C0 int, @R0C1 int, @R0C2 int, @R0C3 int, @R0C4 int,
    @R1C0 int, @R1C1 int, @R1C2 int, @R1C3 int, @R1C4 int,
    @R2C0 int, @R2C1 int, @R2C2 int, @R2C3 int, @R2C4 int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  -- update dbo.TicketValidation 
   UPDATE dbo.TicketValidation 
	SET C0R0=@R0C0 ,C1R0=@R0C1 ,C2R0= @R0C2 ,C3R0=@R0C3 ,C4R0=@R0C4,
	C0R1=@R1C0 ,C1R1=@R1C1 ,C2R1=@R1C2 ,C3R1= @R1C3,C4R1= @R1C4 ,
	C0R2=@R2C0 ,C1R2= @R2C1 ,C2R2= @R2C2 ,C3R2 =@R2C3 ,C4R2=@R2C4
	WHERE TicketNumber=@TableName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insertRandom]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_insertRandom]
	-- Add the parameters for the stored procedure here
	@Random int,
	@Tick bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
  /*  if EXISTS(SELECT RandomNumber
              FROM RandomNumber where RandomNumber=@Random)

			  begin
			  print 'exist'
			  end
     else   
			begin
	      insert into dbo.RandomNumber (RandomNumber) values (@Random)
		   end
		  */
		  Insert into dbo.RandomNumber (RandomNumber,Tick) values (@Random, @Tick)
		 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_middleLine]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_middleLine]
	@TicketName nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT C0R1 AS c1, C1R1 AS c2, C2R1 AS c3, C3R1 AS c4, C4R1 AS c5 
	from dbo.TicketValidation where TicketNumber=@TicketName
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveLastCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RemoveLastCount]
@Lastid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.RandomNumber set Tick=0 where id=@Lastid;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RescheduleDateTime]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[sp_RescheduleDateTime]
@DateTime dateTime,
@Date date

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	update dbo.GameDetails set Date=@Date, TimeOfGame=@DateTime where NoOfTickets is not null
    -- Insert statements for procedure here
	--Insert into dbo.GameDetails (Date,NoOfTickets,CostOfTicket,FullHouseNo,TimeOfGame) values (@Date,@TicketTotal,@ticketCost,@FullHouseTotal,@DateTime)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_resetGame]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_resetGame]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	delete from dbo.CurrentRandom
	DBCC CHECKIDENT (CurrentRandom, RESEED, 0)
	UPDATE [dbo].[MainTable]
   SET
	
      [FullSheetSerialNo] =null
      ,[HalfSheetSerialNo] = null
      ,[TopLine] = null
      ,[MiddleLine] = null
      ,[BottomLine] = null
      ,[Star] = null
      ,[FullSheetBonus] = null
      ,[HalfSheetBonus] = null
      ,[QuickFive] =null
      ,[QuickSeven] = null
      ,[FullHouse] = null
      ,[FullHousePlace] =null
      ,[WinningSerialNo] = null
 WHERE TicketNumber is not null

 UPDATE [dbo].[MainTable]
   SET 
       [TopLine] = null
      ,[MiddleLine] = null
      ,[BottomLine] = null
      ,[Star] = null
      ,[FullSheetBonus] = null
      ,[HalfSheetBonus] = null
      ,[QuickFive] = null
      ,[QuickSeven] = null
      ,[FullHouse] = null
      ,[FullHousePlace] = null
      ,[WinningSerialNo] = null
 WHERE TicketNumber is not null
 Update dbo.GameDetails set FullHouseCount=0 
delete from dbo.RandomNumber

DBCC CHECKIDENT (RandomNumber, RESEED, 0)
Update dbo.GameDetails set FullHouseCount=0 

END
GO
/****** Object:  StoredProcedure [dbo].[sp_restartGame]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_restartGame]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	delete from dbo.CurrentRandom
	DBCC CHECKIDENT (CurrentRandom, RESEED, 0)
		UPDATE [dbo].[RandomNumber]
   SET 
	 [Tick] = null
	,[Tock] = null
	,[TopLine] = null
      ,[MiddleLine] = null
      ,[BottomLine] =null
      ,[FirstFive] = null
      ,[FirstSeven] = null
      ,[Star] = null
      ,[FullHouse] =null
      ,[Fullsheet] = null
      ,[HalfSheet] = null
      ,[Place] =null

 WHERE id is not null;

 UPDATE [dbo].[MainTable]
   SET 
       [TopLine] = null
      ,[MiddleLine] = null
      ,[BottomLine] = null
      ,[Star] = null
      ,[FullSheetBonus] = null
      ,[HalfSheetBonus] = null
      ,[QuickFive] = null
      ,[QuickSeven] = null
      ,[FullHouse] = null
      ,[FullHousePlace] = null
      ,[WinningSerialNo] = null
 WHERE TicketNumber is not null
 Update dbo.GameDetails set FullHouseCount=0 ;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_saveStartTimeJob]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_saveStartTimeJob]
@JiD nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.GameDetails set StartTimeJobId =@JiD where CostOfTicket is not null
END
GO
/****** Object:  StoredProcedure [dbo].[sp_saveWinnersJob]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_saveWinnersJob]
@JiD nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update dbo.GameDetails set WinnersJobId =@JiD where CostOfTicket is not null

END
GO
/****** Object:  StoredProcedure [dbo].[sp_selectFullSheetOwner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_selectFullSheetOwner]
@SheetCount int
AS
BEGIN
Declare @loop int
set @loop=1

create Table #TableFullSheet (Fullsheet nvarchar(max))

SET NOCOUNT ON;
	while (@loop<=@SheetCount)
	BEGIN
	IF((SELECT count (TicketNumber)from  dbo.MainTable WHERE FullSheetSerialNo=@loop and Sellingstatus is  not null) =6)
		begin 
		Insert into #TableFullSheet (FullSheet) values (@loop)
		end
			else
		begin 
		print 'Not present'
		end
		set @loop=@loop+1;
	END
	select Fullsheet from #TablefullSheet
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectHalfSheetOwner]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SelectHalfSheetOwner]
@SheetCount int
AS
BEGIN
Declare @loop int
set @loop=1

create Table #Table (HalfSheet int)

SET NOCOUNT ON;
	while (@loop<=@SheetCount)
	BEGIN
	IF((SELECT count (TicketNumber)from  dbo.MainTable WHERE HalfSheetSerialNo=@loop and Sellingstatus is not null) =3)
		begin 
		Insert into #Table (HalfSheet) values (@loop)
		end
			else
		begin 
		print 'Not present'
		end
		set @loop=@loop+1;
	END
	select HalfSheet from #Table
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectRandomTockWinnerList]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SelectRandomTockWinnerList]
@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [RandomNumber],
	   [Tick]
      ,[Tock]
      ,[TopLine]
      ,[MiddleLine]
      ,[BottomLine]
      ,[FirstFive]
      ,[FirstSeven]
      ,[Star]
      ,[FullHouse]
      ,[Fullsheet]
      ,[HalfSheet] from dbo.RandomNumber where id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectTable]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SelectTable]
	 @TableName nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @selectTicket nvarchar(max)
	set @selectTicket='select * from '+  QUOTENAME(@TableName)

	EXECUTE sp_executesql @selectTicket
 
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_starsValidation]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_starsValidation]
@TicketName nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT C0R0 AS One, C4R0 as Two, C0R2 as Three ,C4R2 as Four,C2R1 as Middle from
	dbo.TicketValidation where TicketNumber=@TicketName

END
GO
/****** Object:  StoredProcedure [dbo].[sp_TickCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_TickCount]
@TickCount int
AS
BEGIN
 BEGIN TRANSACTION

select top 1 *
from RandomNumber,CurrentRandom
with (tablock, holdlock)

update dbo.RandomNumber set Tick=1 where id=@TickCount

COMMIT

	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TockCount]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_TockCount]
@TockCount int
AS
BEGIN
 BEGIN TRANSACTION

select top 1 *
from RandomNumber,CurrentRandom
with (tablock, holdlock)

update dbo.RandomNumber set Tock=1 where id=@TockCount

COMMIT

	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TOPLINE]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_TOPLINE]

As
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT C0R1, C1R0, C2R0, C3R0, C4R0 FROM dbo.TicketValidation 
	select dbo.TicketValidation .*
from dbo.TicketValidation 
where 1 in (C0R0, C4R0, C0R2, C4R2 ) and
9 in (C0R0, C4R0, C0R2, C4R2 ) and
9 in (C0R0, C4R0, C0R2, C4R2 ) and
9 in (C0R0, C4R0, C0R2, C4R2 );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCurrentRandom]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateCurrentRandom]
@Number int,
@TicketNo nvarchar(50),
@CusTomerName nvarchar(50),
@WinningName nvarchar(50),
@Place int
AS
BEGIN
insert into dbo.CurrentRandom (CurrentRandom,TicketNumber,CustomerName,WinningName,Place) values
(@Number,@TicketNo,@CusTomerName,@WinningName,@Place) 
-- You do lots of things here
END
GO
/****** Object:  StoredProcedure [dbo].[testCounting]    Script Date: 9/15/2022 10:21:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[testCounting]
	-- Add the parameters for the stored procedure here
-- @TableName nvarchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   select * from  TicketNo1Validate;
END
GO
